<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : EarthyBlue 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140215

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
<script src="https://use.fontawesome.com/2ab1e7374a.js"></script>
<link href={{url_for('static', filename='default.css')}} rel="stylesheet" type="text/css" media="all" />
<link href={{url_for('static', filename='fonts.css')}} rel="stylesheet" type="text/css" media="all" />
<style> body{background-image:url({{url_for('static', filename='images/dota_index_bg.jpg')}}); background-size:cover} </style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>
            $(function () { 
                $("body").load("/dotaanalysis/{{id}}"); 
            });
        </script>
<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
    <body>
        <div id="welcome">
		<p> Loading...this could take a few minutes....consider doing something else meanwhile and coming back in 5....</p>
	        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i><span class="sr-only">Loading</span>
	</div>
    </body>
</html>