<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : EarthyBlue 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140215

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Ruby(u).Red - Index</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
<link href={{url_for('static', filename='default.css')}} rel="stylesheet" type="text/css" media="all" />
<link href={{url_for('static', filename='fonts.css')}} rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Ruby(u).Red</a></h1>
			<div id="menu">
				<ul>
					<li class="active"><a href="#" accesskey="1" title="">Homepage</a></li>
					<li><a href="/aboutme" accesskey="2" title="">About me</a></li>
					<li><a href="/dotafyme" accesskey="3" title="">Dota-fy me!</a></li>
					<li><a href="/myresume" accesskey="4" title="">My Resume</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="page-wrapper">
	<div id="welcome" class="container">
		<div class="title">
			<h2>Welcome to my website</h2>
		</div>
		<p> Its still unfinished, meanwhile have this cat picture </p>
		<img src={{url_for('static', filename='images/cat-banner.jpg')}} class="image image-full" alt="" />
	</div>
</div>
<div class="wrapper">
	<div id="three-column" class="container">
		<div><span class="arrow-down"></span></div>
		<div id="tbox1">
			<div class="title">
				<h2>Dota-fy me</h2>
			</div>
			<p>Simple (a bit slow) application built in python, connects to the Valve dota2api and collects some information about your player profile. Essentially my first experiment with data mining</p>
			<a href="/dotafyme" class="button">Let me try!</a> </div>
		<div id="tbox2">
			<div class="title">
				<h2>Coming soon</h2>
			</div>
			<p>I'll be working on more projects in the future, but right now theres nothing else. Hopefully I get an idea soon on something cool to work on</p>
			<a href="#" class="button">This button does nothing</a> </div>
		<div id="tbox3">
			<div class="title">
				<h2>Wanna work with me?</h2>
			</div>
			<p>If you have awesome ideas for projects (and you're not a business student with 'the next big startup'), contact me and maybe I can work on it with you!</p>
			<a href="#" class="button">This one too</a> </div>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; <a href="/">Rubyu.Red.</a> All rights reserved. | CSS sourced from <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
		<ul class="contact">
			<li><a href="http://steamcommunity.com/id/scar-l-et/" target="_blank"><i class="fa fa-steam-square fa-2x" aria-hidden="true"></i></a></li>
			<li><a href="https://www.facebook.com/ruby.yu.1447" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li>
			<li><a href="https://au.linkedin.com/in/ruby-yu-2783b1103" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
			<li><a href="https://github.com/rubyvyu" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
			<li><a href="https://www.youtube.com/watch?v=1ECFzfGfIzU" target="_blank"><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></a></li>
		</ul>
</div>

</body>
</html>
