<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : EarthyBlue 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140215

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
<script src="https://use.fontawesome.com/2ab1e7374a.js"></script>
<link href={{url_for('static', filename='default.css')}} rel="stylesheet" type="text/css" media="all" />
<link href={{url_for('static', filename='fonts.css')}} rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Ruby(u).Red</a></h1>
			<div id="menu">
				<ul>
					<li><a href="/" accesskey="1" title="">Homepage</a></li>
					<li><a href="/aboutme" accesskey="2" title="">About me</a></li>
					<li><a href="/dotaanalysis" accesskey="3" title="">Dota Analyser</a></li>
					<li class="active"><a href="#" accesskey="4" title="">My Resume</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="page-wrapper">
	<div id="welcome" class="container">
		<div class="h2">
			<h2>My Resume</h2>
		</div>
		<p> A more formal version of my CV can be found on my <a href="https://au.linkedin.com/in/ruby-yu-2783b1103" target="_blank">LinkedIn</a>, you can also add me on LinkedIn and request a soft copy of my resume</p>
	</div>
</div>
<div class="wrapper">

<div class="container">
    <ul class="timeline">
        <li>
          <div class="timeline-badge info"><i class="fa fa-code" aria-hidden="true"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">July 2016</h4>
            </div>
            <div class="timeline-body">
              <p>Started as a volunteer tutor for UNSW CompClub, running workshops for high school students interested in computing</p>
				<p>Started as a mentee for CISCO's Mentor Me program </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="fa fa-code" aria-hidden="true"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">March 2016 - Current</h4>
            </div>
            <div class="timeline-body">
              <p>Job: casual tutor for Code Rangers, holding afterschool classes teaching year 5-6 students programming concepts using GUI tools such as Scratch</p>
            </div>
          </div>
        </li>
		<li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="fa fa-university" aria-hidden="true"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">December 2015 - February 2016</h4>
            </div>
            <div class="timeline-body">
              <p>Internship: Summer software development internship at the Commonwealth bank of Australia; the technologies and skills involved included:</p>
			  <p>Nodejs for web API usage/data processing, javascript frameworks (mainly JQuery), with aspects of HTML and CSS</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge info"><i class="fa fa-code" aria-hidden="true"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Auguest 2015</h4>
            </div>
            <div class="timeline-body">
              <p>Online tutor for the University of Sydney's NCSS challenge, assisting students in answering problem solving questions in python over the course of 5 weeks </p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge info"><i class="fa fa-female" aria-hidden="true"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">June 2015 - Current</h4>
            </div>
            <div class="timeline-body">
              <p>Joined University of Sydney's GPN (Girls Programming Network) as a tutor, roles included coordinating classes of 15-30 girls, giving lectures on python programming, and designing the official GPN T-shirt</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge success"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
            	<h4 class="timeline-title">February 2015 - Current</h4>
            </div>
            <div class="timeline-body">
              <p>Education: Started studying a bachelor degree in Software Engineering at the University of New South Wales, later on changed to the bachelor of Computer Science </p>
            </div>
          </div>
        </li>
		<li>
          <div class="timeline-badge danger"><i class="fa fa-certificate" aria-hidden="true"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">January 2015</h4>
            </div>
            <div class="timeline-body">
				<p>Received the UNSW Co-Op scholarship for Software engineering</p>
            </div>
          </div>
        </li>
		<li>
          <div class="timeline-badge danger"><i class="fa fa-certificate" aria-hidden="true"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">November 2014</h4>
            </div>
            <div class="timeline-body">
				<p>Received the Google Junior Anita Borg Scholarship</p>
            </div>
          </div>
        </li>
		<li class="timeline-inverted">
          <div class="timeline-badge success"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
            	<h4 class="timeline-title">October 2014</h4>
            </div>
            <div class="timeline-body">
              <p>Education: Finished High School at Chatswood High School </p>
            </div>
          </div>	
        </li>
		<li>
          <div class="timeline-badge info"><i class="fa fa-code" aria-hidden="true"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">January 2013 + January 2014</h4>
            </div>
            <div class="timeline-body">
              <p>Attended University of Sydney's NCSS Summer Camp, learning python web development in 2013, and Arduino programming in 2014</p>
            </div>
          </div>
        </li>
    </ul>
</div>
</div>
<div id="copyright" class="container">
	<p>&copy; <a href="/">Rubyu.Red.</a> All rights reserved. | CSS sourced from <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
		<ul class="contact">
			<li><a href="http://steamcommunity.com/id/scar-l-et/" target="_blank"><i class="fa fa-steam-square fa-2x" aria-hidden="true"></i></a></li>
			<li><a href="https://www.facebook.com/ruby.yu.1447" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li>
			<li><a href="https://au.linkedin.com/in/ruby-yu-2783b1103" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
			<li><a href="https://github.com/rubyvyu" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
			<li><a href="https://www.youtube.com/watch?v=1ECFzfGfIzU" target="_blank"><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></a></li>
		</ul>
</div>
</body>
</html>
